{% for post in following_posts %}
    <div class="post">
        <div class="postimg">
            <img src="{{post.image.url}}" alt="{{post.caption}}">
        </div>
        <div class="postbot">
            <h4>{{post.user}}</h4>
            <p>{{post.caption}} <span>{{post.created_at}}</span></p>
            <div class="post-actions">
                <form class="postlike" method="POST" action="{% url 'likepost' post.id %}">
                    {% csrf_token %}
                    <button class="btn">
                        <i class="fa-solid fa-thumbs-up"></i> {{post.likes}}
                    </button>
                </form>

                {% if post.user == request.user or request.user.is_superuser %}
                <form action="{% url 'deletepost' post.id %}" class="delete" method="POST">
                    {% csrf_token %}
                    <button class="btn">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
<div >
    <button class="btn">
        <i class="fa-solid fa-arrow-down"></i>
    </button>
</div>
